@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Lora';
    src: url('./assets/Fonts/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/Fonts/OpenSans-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/Fonts/Poppins-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Public Sans';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/Fonts/PublicSans-Regular.ttf') format('truetype');
  }
}

@layer utilities {
  @keyframes slideDown {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slideDown {
    animation: slideDown 0.5s ease-in-out forwards;
  }

}


body{
  background-color: #F8F8FF;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.7vw;
  width: 1.7vw;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: %23285434%3B%22%3E%3Cpath d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"%3E%3C/path%3E%3C/svg%3E') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}


@media (max-width: 768px) {
  .search-input::-webkit-search-cancel-button{
    height: 6vw;
    width: 6vw;
  }
}
